body {
  text-align: center;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  width: 700px;
  margin: auto;
  margin-top: 200px;
}

#app .logo {
  width: 300px;
}

#app > .title {
  margin: 20px auto;
  line-height: 30px;
  color: #fff;
  background: #31465f;
  border-radius: 5px;
}

#app .description {
  position: relative;
  margin-top: 50px;
}

#app .description .number {
  margin-right: -4px;
  padding: 10px;
  color: #31465f;
  background: #ffe000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#app .description .type {
  color: #fff;
  background: #31465f;
  padding: 10px;
}

#app .description .title {
  padding: 10px;
  color: #fff;
  background: #38ba82;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#app .description .arrow {
  position: absolute;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#app .description .arrow.right {
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#app .description .arrow.left {
  left: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

#app .title-style {
  padding: 10px 0;
  color: #fff;
  background: #31465f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#app .content-style {
  padding: 20px 0;
  background: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#app .lesson1 {
  line-height: 30px;
}

#app .lesson1 table {
  width: 60%;
  margin: auto;
}

#app .lesson1 table td:nth-child(2) {
  text-align: left;
}

#app .lesson2 .inputdata {
  position: relative;
  text-align: right;
}

#app .lesson2 .inputdata #select-box {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40%;
  height: 36px;
  color: #333;
  text-align: left;
}

#app .lesson2 .inputdata #select-box #select-button {
  position: relative;
  height: 13px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#app .lesson2 .inputdata #select-box #options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#app .lesson2 .inputdata #select-box .option i {
  width: 16px;
  height: 16px;
}

#app .lesson2 .inputdata #select-box .option, #app .lesson2 .inputdata #select-box .label {
  color: #2d3667;
  font-size: 16px;
}

#app .lesson2 .inputdata #select-box #chevrons {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  padding: 7px 14px;
}

#app .lesson2 .inputdata #select-box #chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#app .lesson2 .inputdata #select-box #options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;
}

#app .lesson2 .inputdata #select-box .options {
  position: absolute;
  left: 0;
  width: 250px;
}

#app .lesson2 .inputdata #select-box #options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

#app .lesson2 .inputdata #select-box #options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
}

#app .lesson2 .inputdata #select-box .option {
  position: relative;
  line-height: 1;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 2;
}

#app .lesson2 .inputdata #select-box .option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#app .lesson2 .inputdata #select-box #options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

#app .lesson2 .inputdata #select-box .label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#app .lesson2 .inputdata #select-box #options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

#app .lesson2 .inputdata #select-box .option input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

#app .lesson2 .inputdata #select-box .option input[type="radio"]:hover ~ i {
  color: #fff;
  opacity: 0;
  top: -25px;
  -webkit-animation: movedown 0.3s ease 0.1s forwards;
          animation: movedown 0.3s ease 0.1s forwards;
}

#app .lesson2 .inputdata #select-box .option input[type="radio"]:hover {
  height: 100%;
  z-index: 1;
}

@-webkit-keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

#app .lesson2 .inputdata #select-box .label {
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#app .lesson2 .inputdata #select-box .opt-val {
  position: absolute;
  left: 13px;
  width: calc(100% - 40px);
  height: 21px;
  opacity: 0;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

#app .lesson2 .inputdata #select-box .option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

#app .lesson2 .inputdata #select-box .option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  -webkit-animation: unset;
          animation: unset;
}

#app .lesson2 .inputdata #select-box .option input[type="radio"]:checked ~ i,
#app .lesson2 .inputdata #select-box .option input[type="radio"]:checked ~ .label {
  color: #fff;
}

#app .lesson2 .inputdata #select-box .option input[type="radio"]:checked ~ .label:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#app .lesson2 .inputdata #select-box #options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val {
  top: -30px;
}

#app .lesson2 .inputdata #select-box .option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

#app .lesson2 .inputdata #select-box .option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}

#app .lesson2 .inputdata #select-box .option:nth-child(1) i {
  color: #000;
}

#app .lesson2 .inputdata #select-box .option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}

#app .lesson2 .inputdata #select-box .option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}

#app .lesson2 .inputdata #select-box .option:nth-child(2) i {
  color: #ea4c89;
}

#app .lesson2 .inputdata #select-box .option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
  border-radius: 0 0 4px 4px;
}

#app .lesson2 .inputdata #select-box .option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}

#app .lesson2 .inputdata #select-box .option:nth-child(3) i {
  color: #0057ff;
}

#app .lesson2 .inputdata #select-box #option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#app .lesson2 .inputdata #select-box #options-view-button:checked ~ #options #option-bg {
  display: block;
}

#app .lesson2 .inputdata #select-box .option:hover .label {
  color: #fff;
}

#app .lesson2 .inputdata #select-box .option:nth-child(1):hover ~ #option-bg {
  top: 0px;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

#app .lesson2 .inputdata #select-box .option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

#app .lesson2 .inputdata #select-box .option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
  border-radius: 0 0 4px 4px;
}

#app .lesson2 .inputdata input {
  height: 34px;
  width: calc(55% - 40px);
  margin-right: 10px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #e2eded;
}

#app .lesson2 .menulist {
  text-align: left;
}

#app .lesson2 .menulist ul {
  padding: 0 10px;
}

#app .lesson2 .menulist ul li {
  width: 48%;
  margin: 5px 1%;
  font-size: 14px;
  display: inline-block;
  background: #38ba82;
  border-radius: 5px;
}

#app .lesson2 .menulist ul li span {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

#app .lesson2 .menulist ul li .number {
  width: 10%;
  color: #333;
  background: #ffe000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#app .lesson2 .menulist ul li .type {
  width: 30%;
  margin-left: -4px;
  color: #fff;
  background: #31465f;
}

#app .lesson2 .menulist ul li a {
  width: 56%;
  height: 100%;
  padding-left: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */