<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>資料篩選</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/fontawesome.css">
</head>
<body>
    <div id="app">
        <div class="lesson2">
            <div class="inputdata title-style">
                <!-- select style -->
                <div id="select-box">
                    <input type="checkbox" id="options-view-button">
                    <div id="select-button" class="brd">
                        <div id="chevrons">
                            <i class="fas fa-chevron-up"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <!-- v-for select list -->
                    <div id="options">
                        <div class="option" v-for="(list,index) in data.selectList">
                            <input type="radio" name="platform" :value="list.name" v-model="input.type">
                            <i class="fas" :class="list.icon"></i>
                            <span class="label">{{ list.name }}</span>
                            <span class="opt-val">{{ list.name }}</span>
                        </div>
                        <div id="option-bg"></div>
                    </div>
                </div>
                <!-- end select style -->
                <!-- @keyup.enter 按下enter鍵，執行inputHandler function -->
                <input type="text"
                    v-model="input.title"
                    @keyup.enter="inputHandler"
                >
            </div>
            <div class="menulist content-style">
                <ul>
                    <!-- v-for 跑列表迴圈 index為索引值 -->
                    <li v-for="(item,index) in data.menu">
                        <span class="number">{{ index+1 }}</span>
                        <span class="type"> {{ item.type }} </span>
                        <a class="title" :href="item.link">
                            {{ item.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/data.js"></script>
<script>
    let vm = new Vue ({
        el:'#app',
        data: function(){
            return {
                data,
                input: {
                    type: '初階幼幼班',
                    title: ''
                }
            }
        },
        methods: {
            inputHandler() {
                // 如果input.title不等於空值，則push資料進menu
                if(this.input.title){
                    this.data.menu.push({
                        type: this.input.type,
                        title: this.input.title,
                        link: 'javascript:;'
                    })
                    // 結束清空input.title
                    this.input.title = ''
                }
            }
        }
    })
</script>
</html>